# Visual Studio
.vs/
*.user
*.suo
bin/
obj/
*.vsidx
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
packages/
!packages/build/

# Rider
.idea/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini