# Visual Studio
.vs/
*.user
*.suo
*.vsidx
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

# Rider / VS Code
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store
Desktop.ini

# Logs
*.log

# NuGet
*.nupkg
packages/
!packages/build/

# Appsettings (quan trọng cho Module 2)
**/appsettings.json